body {
    font-family: 'Roboto', sans-serif;
    background: url('https://source.unsplash.com/1600x900/?movies') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.fixed-header > h1 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #141e28;
    color: #fff; 
    text-align: center;
    padding: 10px 0 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#link {
    position: absolute; /* Posición absoluta en relación al encabezado */
    top: -10%; /* Ajusta según tus necesidades */
    right: 1%; /* Ajusta según tus necesidades */ /* Cambia el ancho a auto para que se ajuste al contenido */
    max-width: 100px;
    max-height: 50px;
    font-size: small;
}


#link:hover {
    background-color: #fff; 
    color: #333; 
}

.container {
    margin-top: 10%;
    width: 100%;
    max-width: 800px;
}

h4 {
    margin-top: 3%;
    background-color: lightblue;
    padding: 10px; 
    text-align: center;
    color: #fff;
    border-radius: 15px;
}

.card {
    border: none;
    background-color: #141e28;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-origin: 5px;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 5%;
    margin-top: 5%;
}

.btn-primary {
    background-color: #f79336;
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
    height: 30%;
}

.btn-primary:hover {
    background-color: #ad6827;
}

.form-control:focus {
    border-color: #f79336; 
    background-color: #acdfe0;
    outline: none
}

.form-control {
    border-color: #f79336; 
    background-color: #fff;
    outline: none;
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-check-label {
    color: #fff;
}

#q {
    color: #acdfe0;
}
